

@media screen and (max-width: 768px) {


    .page-dashboard #categories-list {
        flex-direction: column;
    }

    .page-dashboard #categories-list .component-category {
        margin: 10px 0;
    }

}





@media screen and (min-width: 100px) and (max-width: 360px){
	

	
	/************ Responsive Login *************/


.logo_login{
	width:90%
	}
	
.input_login{
	width: 95%;
    height: 35px;
	margin-bottom: 10px;
	margin-top: 10px;
	}
	
.login_form{
		
    width: 100% !important;
   	margin-left: 0 !important;
 }
	
.position_logo{
	
	width: 100% !important;
}

	
	/************ Responsive Inscription *************/
	
.logo_reg{
	text-align: center;
}

.logo_register{
	width: 55%;
	margin-bottom: 20px;
}

.form_reg{
	
	background-color: #89C13E;
    padding: 8%;
}
	
.button_reg{
	width: 95%;
    padding: 8px;
	}
}


@media screen and (min-width: 361px) and (max-width: 768px) {
	
	
	/************ Responsive Login *************/

	
.logo_login{
	width:45%;
    
	}
	
.input_login{
	width: 100%;
    height: 45px;
	margin-bottom: 10px;
	margin-top: 10px;
	}
	
.position_logo{
	text-align: center;
}
	
.login_form{
		
    width: 65%;
    /* text-align: center; */
    margin-left: 23%;
 }
	
/************ Responsive Inscription *************/
.logo_reg{
	text-align: center;
}

.logo_register{
	width: 55%;
	margin-bottom: 20px;
}

.form_reg{
	
	background-color: #89C13E;
    padding: 8%;
	width: 90%;
    margin-left: 5%;
}
	
.button_reg{
	width: 100%;
	margin-top: 40px;
    padding: 8px;
	}
}

@media screen and (min-width: 769px) and (max-width: 1080px) {
	
	
	/************ Responsive Login *************/

	
.logo_login{

	width:65%;
    
	}
	
.input_login{

	width: 100%;
    height: 45px;
	margin-bottom: 10px;
	margin-top: 10px;
	}
	
.position_logo{
	
	 width: 55%;
    float: left;
    margin-left: 35px;
    margin-top: 90px;
    position: absolute;
}
	
.login_form{
	
	    float: right;
    margin-top: 7%;
    width: 49%;
    margin-right: 21px;
 }
	
/************ Responsive Inscription *************/
.logo_reg{
	text-align: center;
}

.logo_register{
	width: 30%;
	margin-bottom: 20px;
}

.form_reg{
	
	background-color: #89C13E;
    padding: 4%;
    width: 50%;
    margin-left: 27%;
}
	
.button_reg{
	width: 100%;
	margin-top: 40px;
    padding: 8px;
	}
}

@media screen and (min-width: 1081px) and (max-width: 1900px) {
	
	
	/************ Responsive Login *************/

	
.logo_login{

	width:45%;
    
	}
	
.input_login{

	width: 100%;
    height: 45px;
	margin-bottom: 10px;
	margin-top: 10px;
	}
	
.position_logo{
	
	width: 49%;
    float: left;
    margin-left: 145px;
    margin-top: 90px;
    position: absolute;
}
	
.login_form{
	
	float: right;
    margin-top: 7%;
    width: 38%;
    margin-right: 200px;
 }
	
/************ Responsive Inscription *************/
.logo_reg{
	text-align: center;
}

.logo_register{
	width: 10%;
	margin-bottom: 20px;
}

.form_reg{
	
	background-color: #89C13E;
    padding: 3%;
    width: 32%;
    margin-left: 35%;
}
	
.button_reg{
	width: 100%;
	margin-top: 40px;
    padding: 8px;
	}
}


