
@media screen and (max-width: 768px) {

    /*trigger*/
    nav#menu > #nav-trigger:checked ~ nav#panel {
        width: 100%;
    }

    .page-dashboard #categories-list {
        flex-direction: column;
    }

    .page-dashboard #categories-list .component-category {
        margin: 10px 0;
    }

}
