

@media screen and (max-width: 768px) {

    /*trigger*/
    nav#menu > #nav-trigger:checked ~ nav#panel {
        width: 100%;
    }

    .page-dashboard .page-title {
        flex-direction: column;
    }
    .page-dashboard .page-title-onside {
        flex-direction: column;
    }
    .page-dashboard .page-title .project-admin {
        margin-right: 0;
        padding: 10px;
    }
    .page-dashboard .page-title-onside,
    .page-dashboard .dashboard-search-dropdown {
        width: 100%;
    }

    .page-dashboard .button-category-create-popover {
        width: 100%;
    }
    .page-dashboard #category-create-block {
        width: 100%;
        margin-bottom: 10px;
    }
    .page-dashboard .component-category-popover {
        top: 175px;
    }

    .page-dashboard #categories-list {
        flex-direction: column;
    }

    .page-dashboard #categories-list .component-category {
        margin: 10px 0;
    }

}





@media screen and (min-width: 100px) and (max-width: 360px){
	

	
	/************ Responsive Login *************/


.logo_login{
	width:90%
	}
	
.input_login{
	width: 95%;
    height: 35px;
	margin-bottom: 10px;
	margin-top: 10px;
	}
	
.login_form{
		
    width: 100% !important;
   	margin-left: 0 !important;
 }
	
.position_logo{
	
	width: 100% !important;
}

	
	/************ Responsive Inscription *************/
	
.logo_reg{
	text-align: center;
}

.logo_register{
	width: 55%;
	margin-bottom: 20px;
}

.form_reg{
	
	background-color: #89C13E;
    padding: 8%;
}
	
.button_reg{
	width: 95%;
    padding: 8px;
}
	
	/************ Responsive Contact *************/

.contactTitle{
	text-align: center;
    margin-bottom: 40px;
    margin-top: 30px;
}

.hrContact{
	color: grey;
    width: 25%;
    margin-left: 36%;
}
	
.h3Contact{
	margin-bottom: 25px;
	font-size: 23px;
	font-weight: 300;
}

.h1Contact{
	font-weight: 300;
}

.pContact{
	font-weight: 300;
    font-size: 15px;
	margin-bottom: 8px;
}

.colGauche{
	margin-bottom: 40px;
}
	
/*Formulaire*/
	
.label_contact{
	display: block;
	font-weight: 300;
    margin-bottom: 8px;
}
	
.input_contact{
	width: 100%;
    height: 38px;
    margin-top: 4px;
    margin-bottom: 4px
}
	
.textareaContact{
	width: 100%;
    height: 100px;
	}
	
.button_contact{
	
	width: 100%;
    margin-top: 20px;
    height: 38px;
	color: white;
    background-color: #89C13E;
    border: solid 0px;
}
			/***************Mentions******************/
	
.pMention{
	font-weight: 300;
    margin-bottom: 8px;
}
	
.h1Mention{
	font-weight: 300;
    color: #89C13E;
}
	
.h2Mention{
	font-weight: 300;
	margin-bottom: 17px;
    color: #89C13E;
}
	
.hrMention{
	
    height: 1px;
    border: solid 0px;
    background-color:#676767;
}

.partie1{
	margin-bottom: 45px;
}
	
.partie2{

	margin-bottom: 45px;
	
}
		
.partie3CU{
	width: 160%;
	margin-bottom: 45px;
    
}
	
.partie2cookie{
	width: 90%;
    margin-left: 9%;
	overflow: auto;
    height: 185px;
    padding: 17px;
    border: solid 1px;
    border-color: #89C13E;
	margin-bottom: 45px;
}
}


@media screen and (min-width: 361px) and (max-width: 768px) {
	
	
	/************ Responsive Login *************/

	
.logo_login{
	width:45%;
    
	}
	
.input_login{
	width: 100%;
    height: 45px;
	margin-bottom: 10px;
	margin-top: 10px;
	}
	
.position_logo{
	text-align: center;
}
	
.login_form{
		
    width: 65%;
    /* text-align: center; */
    margin-left: 23%;
 }
	
/************ Responsive Inscription *************/
.logo_reg{
	text-align: center;
}

.logo_register{
	width: 55%;
	margin-bottom: 20px;
}

.form_reg{
	
	background-color: #89C13E;
    padding: 8%;
	width: 90%;
    margin-left: 5%;
}
	
.button_reg{
	width: 100%;
	margin-top: 40px;
    padding: 8px;
	}
	
/************ Responsive Contact *************/

.contactTitle{
	text-align: center;
    margin-bottom: 40px;
    margin-top: 30px;
}
	

.hrContact{
	color: grey;
    width: 25%;
    margin-left: 38%;
}
	
.h3Contact{
	margin-bottom: 25px;
	font-size: 23px;
	font-weight: 300;
}

.h1Contact{
	font-weight: 300;
}

.pContact{
	font-weight: 300;
    font-size: 15px;
	margin-bottom: 8px;
}

.colGauche{
	margin-bottom: 40px;
	text-align: center;
}
	
/*Formulaire*/
	
.label_contact{
	display: block;
	font-weight: 300;
    margin-bottom: 8px;
}
	
.input_contact{
	width: 100%;
    height: 40px;
    margin-top: 4px;
    margin-bottom: 4px
}
	
.textareaContact{
	width: 100%;
    height: 100px;
	}
	
.button_contact{
	
	width: 100%;
    margin-top: 20px;
    height: 38px;
	color: white;
    background-color: #89C13E;
    border: solid 0px;
}
	
			/***************Mentions******************/
	
.pMention{
	font-weight: 300;
    margin-bottom: 8px;
}
	
.h1Mention{
	font-weight: 300;
    color: #89C13E;
}
	
.h2Mention{
	font-weight: 300;
	margin-bottom: 17px;
    color: #89C13E;
}
	
.hrMention{
	
    height: 1px;
    border: solid 0px;
    background-color:#676767;
}

.partie1{
	width: 55%;
    
    margin-left: 9%;
	margin-bottom: 45px;
}
	
.partie2{
	width: 55%;
    margin-left: 9%;
	margin-bottom: 45px;
	
}
	
.partie3{
	width: 55%;
    margin-left: 9%;
	
}
	
.partie3CU{
	width: 160%;
	margin-bottom: 45px;
    
	
}
	
.partie2cookie{
	width: 90%;
    margin-left: 9%;
	overflow: auto;
    height: 185px;
    padding: 17px;
    border: solid 1px;
    border-color: #89C13E;
	margin-bottom: 45px;
}
}

@media screen and (min-width: 769px) and (max-width: 1080px) {
	
	
	/************ Responsive Login *************/

	
.logo_login{

	width:100%;
    
	}
	
.input_login{

	width: 100%;
    height: 45px;
	margin-bottom: 10px;
	margin-top: 10px;
	}
	
.position_logo{
	
	 width: 37%;
    float: left;
    margin-left: 35px;
    margin-top: 90px;
    position: absolute;
}
	
.login_form{
	
	    float: right;
    margin-top: 7%;
    width: 49%;
    margin-right: 21px;
 }
	
/************ Responsive Inscription *************/
.logo_reg{
	text-align: center;
}

.logo_register{
	width: 30%;
	margin-bottom: 20px;
}

.form_reg{
	
	background-color: #89C13E;
    padding: 4%;
    width: 50%;
    margin-left: 27%;
}
	
.button_reg{
	width: 100%;
	margin-top: 40px;
    padding: 8px;
	}
/************ Responsive Contact *************/

.contactTitle{
	text-align: center;
    margin-bottom: 40px;
    margin-top: 30px;
}
	

.hrContact{
	color: grey;
    width: 25%;
    margin-left: 38%;
}
	
.h3Contact{
	margin-bottom: 25px;
	font-size: 23px;
	font-weight: 300;
}

.h1Contact{
	font-weight: 300;
}

.pContact{
	font-weight: 300;
    font-size: 15px;
	margin-bottom: 8px;
}

.colGauche{
	margin-bottom: 40px;
	float: left;
	width: 30%;
}
	
.colDroit{
	width: 65%;
    float: right;
}
	
/*Formulaire*/
	
.label_contact{
	display: block;
	font-weight: 300;
    margin-bottom: 8px;
}
	
.input_contact{
	width: 100%;
    height: 40px;
    margin-top: 4px;
    margin-bottom: 4px
}
	
.textareaContact{
	width: 100%;
    height: 100px;
	}
	
.button_contact{
	
	width: 100%;
    margin-top: 20px;
    height: 38px;
	color: white;
    background-color: #89C13E;
    border: solid 0px;
}
	
		/***************Mentions******************/
	
.pMention{
	font-weight: 300;
    margin-bottom: 8px;
}
	
.h1Mention{
	font-weight: 300;
    color: #89C13E;
}
	
.h2Mention{
	font-weight: 300;
	margin-bottom: 17px;
    color: #89C13E;
}
	
.hrMention{
	
    height: 1px;
    border: solid 0px;
    background-color:#676767;
}

.partie1{
	width: 55%;
    
    margin-left: 9%;
	margin-bottom: 45px;
}
	
.partie2{
	width: 55%;
    margin-left: 9%;
	margin-bottom: 45px;
	
}
	
.partie3{
	width: 55%;
    margin-left: 9%;
	
}
	
.partie3CU{
	width: 160%;
	margin-bottom: 45px;
    
	
}
	
.partie2cookie{
	width: 90%;
    margin-left: 100px;
	overflow: auto;
    height: 185px;
    padding: 17px;
    border: solid 1px;
    border-color: #89C13E;
	margin-bottom: 45px;
}
}

@media screen and (min-width: 1081px) and (max-width: 1900px) {
	
	
	/************ Responsive Login *************/

	
.logo_login{

	width:75%;
    
	}
	
.input_login{

	width: 100%;
    height: 45px;
	margin-bottom: 10px;
	margin-top: 10px;
	}
	
.position_logo{
	
	 width: 33%;
    float: left;
    margin-left: 145px;
    margin-top: 90px;
    position: absolute;
}
	
.login_form{
	
	float: right;
    margin-top: 7%;
    width: 38%;
    margin-right: 200px;
 }
	
/************ Responsive Inscription *************/
.logo_reg{
	text-align: center;
}

.logo_register{
	width: 10%;
	margin-bottom: 20px;
}

.form_reg{
	
	background-color: #89C13E;
    padding: 3%;
    width: 32%;
    margin-left: 35%;
}
	
.button_reg{
	width: 100%;
	margin-top: 40px;
    padding: 8px;
	}
	
/************ Responsive Contact *************/

.contactTitle{
	text-align: center;
    margin-bottom: 40px;
    margin-top: 30px;
}
	

.hrContact{
	color: grey;
    width: 25%;
    margin-left: 38%;
}
	
.h3Contact{
	margin-bottom: 25px;
	font-size: 23px;
	font-weight: 300;
}

.h1Contact{
	font-weight: 300;
}

.pContact{
	font-weight: 300;
    font-size: 15px;
	margin-bottom: 8px;
}

.colGauche{
	margin-bottom: 40px;
	float: left;
	width: 30%;
	    margin-left: 40px;
}
	
.colDroit{
	width: 60%;
    float: right;
    padding-right: 85px;
    margin-right: 33px;
}
	
/*Formulaire*/
	
.label_contact{
	display: block;
	font-weight: 300;
    margin-bottom: 8px;
}
	
.input_contact{
	width: 100%;
    height: 30px;
    margin-top: 4px;
    margin-bottom: 4px
}
	
.textareaContact{
	width: 100%;
    height: 100px;
	}
	
.colonne1{
	width: 45%;
    display: flex;
    flex-direction: column;
    float: left;
}
	
.colonne2{
	width: 45%;
    float: right;
}
	
.colonne3{
	width: 100%;
    display: inline-block;
}
	
.button_contact{
	
	width: 20%;
    margin-top: 20px;
    height: 38px;
	color: white;
	margin-bottom: 60px;
    background-color: #89C13E;
    border: solid 0px;
}
	
	/***************Mentions******************/
	
.pMention{
	font-weight: 300;
    margin-bottom: 8px;
}
	
.h1Mention{
	font-weight: 300;
    color: #89C13E;
}
	
.h2Mention{
	font-weight: 300;
	margin-bottom: 17px;
    color: #89C13E;
}
	
.hrMention{
	
    height: 1px;
    border: solid 0px;
    background-color:#676767;
}

.partie1{
	width: 55%;
    margin-left: 100px;
	margin-bottom: 45px;
}
	
.partie2{
	width: 55%;
    margin-left: 100px;
	margin-bottom: 45px;
	
}
	
.partie3{
	width: 55%;
    margin-left: 100px;
	
}
	
.partie3CU{
	width: 160%;
	margin-bottom: 45px;
    
	
}
	
.partie2cookie{
	width: 90%;
    margin-left: 100px;
	overflow: auto;
    height: 185px;
    padding: 17px;
    border: solid 1px;
    border-color: #89C13E;
	margin-bottom: 45px;
}
}


