
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'),
    url(fonts/OpenSans-Light.ttf) format('truetype');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), 
    url(fonts/OpenSans-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
    url(fonts/OpenSans-Semibold.ttf) format('truetype');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
    url(fonts/OpenSans-Bold.ttf) format('truetype');
}


html, body {
    display: block;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans', sans-serif;

    /* text-shadow: 0 0 1px rgba(0,0,0, 0.3); fake-smoothing */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: #eaeaea;
}
body.body-login{
	background-color: black;
}
body.body-register{
	background-color: black;
}


*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    outline: none;
    transition-property: opacity, background, color, width, height, transform;
    transition-duration: 0.5s;
    transition-timing-function: ease;

    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}
textarea {
    resize: vertical;
}

/* templates elements, jscripts */

.component-template {
    display: none;
}



/* ///////// */

.check-expanded,
.expanded {
    display: none;
}
.expander {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    width: 100%;
    display: block;
}
.check-expanded:checked ~ .expanded {
    display: block;
}




/*//////////////////////////////// MENU HEADER ////////////////////////////////*/

nav#menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    overflow: visible;
    z-index: 999;
    user-select: none;
}

/*hamburger icon trigger for left panel*/
nav#hamburger {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    height: 56px;

    color: #fff;
    padding: 8px 12px;
    line-height: 16px;
    font-size: 16px;
    background-color: #202020;
    box-shadow: 1px 1px 1px 0 #ccc9;
}

nav#menu > #nav-trigger {
    display: none;
}
nav#hamburger > label[for="nav-trigger"] {
    cursor: pointer;
    height: 30px;
    width: 30px;
    background: url(../img/hamburger.svg) no-repeat;
    background-size: contain;
}

/*top logo*/
nav#menu .hamburger-logo {
    background: url(../img/logo-header.png) no-repeat center center;
    background-size: contain;
    display: block;
    width: 100px;
    height: 40px;
}
nav#hamburger > div { /*quick fix todo*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/*trigger*/
nav#menu > #nav-trigger:checked ~ nav#panel {
    width: 250px;
}
nav#menu > #nav-trigger:checked ~ nav#hamburger > label[for="nav-trigger"] {
    transform: rotate(90deg);
}

/* left side content*/
nav#panel {
    display: flex;
    flex-direction: column;
    align-items: initial;
    flex-wrap: nowrap;

    overflow: hidden;
    overflow-y: auto;
    width: 0;
    /* height: 100vh; */
    height: calc(100vh - 56px);/*menu size*/

    background-color: #202020;
}
nav#panel,
nav#panel a {
    color: #fff;
    font-size: 12px;
    font-weight: 600;
}

nav#panel #panel-inner {/*quick fix todo*/
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

nav#panel .menu-avatar {
    text-align: center;
}
nav#panel .menu-welcome {
    text-align: center;
    font-size: 15px;
    margin: 10px 0;
    margin-bottom: 20px;
}

nav#panel .menu-register {
    text-align: center;
    margin-top: 10px;
}

nav#panel .menu-logout {
    font-size: 11px;
    text-align: center;
    margin-top: 10px;
}
nav#panel .menu-logout a {
    color: #89C13E;
    text-decoration: underline;
}

nav#panel .icon {
    height: 25px;
    width: 25px;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 10px;
}

nav#panel .menu-dashboard,
nav#panel .menu-projects {
    display: flex;
    align-items: center;
}



nav#panel .menu-dashboard {
    margin-bottom: 15px;
}
nav#panel .menu-dashboard .icon {
    background-image: url(../img/icon-home.png);
}

nav#panel .menu-projects .icon {
    background-image: url(../img/icon-projects.png);
}

nav#panel .menu-projects-list {
    margin-left: 35px;
}
nav#panel .menu-projects-list > div {
    margin: 7px 0;
}
nav#panel .menu-projects-list a {
    color: #cecece;
    font-size: 12px;
}

nav#panel .menu-mentions {
    text-align: center;
    margin-top: auto;
    padding: 30px 0 20px;
}
nav#panel .menu-mentions,
nav#panel .menu-mentions a {
    color: #5a5a5a;
    font-size: 12px;
}
nav#panel .menu-mentions a:hover {
    color: #fff;
}


/*//////////////////////////////// PAGE CONTENT ////////////////////////////////*/

#page {
    margin: 40px;
    padding-top: 56px; /*menu*/
    /* height: 100vh; */
}

.page-title {
    color: #777777;
    font-weight: 400;
    font-size: 23px;
    line-height: 23px;
    margin-bottom: 25px;
}


/*//////////////////////////////// PAGE HOME ////////////////////////////////*/

.body-index {
    background-color: #fff;
}

.page-index .homepage-why {
    display: flex;
    justify-content: space-between;
}
.page-index .homepage-desk img {
    width: 100%;
    height: auto;
}

.page-index .homepage-panel {
    padding: 0 25px;
}

.page-index .homepage-text-title {
    font-size: 45px;
    line-height: 1.1em;
    font-weight: bold;
    color: #003945;
    padding: 30px 0;
}
.page-index .homepage-text-desc {
    font-size: 16px;
    line-height: 1.5em;
    color: #7B7B7B;
}


/*//////////////////////////////// PAGE DES PROJETS ////////////////////////////////*/

.page-projects .page-title {
    color: #000;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    font-weight: 300;
    font-size: 25px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page-projects .page-title-onside {
    display: flex;
    align-items: center;
}

.page-projects .button-project-create-popover {
    font-size: 14px;
    font-weight: 300;
    background-color: #fff;
    border: 0;
    padding: 0 30px 0 10px;
    min-height: 30px;

    display: flex;
    align-items: center;
    cursor: pointer;
}
.page-projects .button-project-create-popover:hover {
    background-color: #4ebbf0;
    color: #fff;
}



/* lsite des projets container */

.page-projects #projects-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.page-projects #projects-list.projects-list-loading {
    /*image de chargement*/
}

/* block projet */

.page-projects .component-project {
    width: 250px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    margin-right: 35px;
    margin-bottom: 35px;
    position: relative;

    display: flex;
    flex-direction: column;
    padding-bottom: 40px; /*dropdown*/
}
.page-projects .component-project {
    min-height: 150px;
}

.page-projects #project-create-block {
    position: relative;
}
.page-projects .component-project-popover {
    top: 110%;
    right: 0;
    width: 250px;
}
.page-projects .component-project-popover .connector {
    right: 10%;
    left: initial;
}

/* block projet nouveau */

.page-projects .project-header {
    background: #94d4ee url(../img/project-bg-1.png) no-repeat right center;
    background-size: cover;/*contain*/
    height: 100px;
    display: flex;
    align-items: end;
}
.page-projects .project-description {
    color: #a09797;
    font-size: 12px;
    padding: 10px;
}
.page-projects .project-title {
    color: #fff;
    font-size: 18px;
    padding: 10px;
    font-weight: 600;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.page-projects .project-dropdown {
    color: #515150;
    padding: 10px;
    font-size: 16px;
    margin-top: auto;/*flex*/

    position: absolute;
    bottom: 0;
    width: 100%;

    border-top: 1px solid #0000001a;
    background: url(../img/arrow-drop.png) no-repeat 95% center;
}
.page-projects .check-expanded:checked ~ .project-dropdown {
    background-image: url(../img/arrow-drop2.png);
}

.page-projects .project-status,
.page-projects .dropdown-menu.project-status {
    position: absolute;
    width: 100%;
    top: calc( 100% + 5px );/*connector*/
    left: 0;

    border: 1px solid #C7C7C7;
    background: #fff;
    box-shadow: 0 3px 0 0 #42424233;
    z-index: 2;
}
.page-projects .project-status .connector {
    width: 10px;
    height: 10px;
    margin: 0;
    border-style: solid;
    border-width: 1px 0 0 1px;
    border-color: #C7C7C7 transparent transparent #C7C7C7;
    background: inherit;
    position: absolute;

    top: -6px;
    left: 16px;
    transform: rotate(45deg);
}
.page-projects .project-status a {
    color: #89C13E;
}

.page-projects .project-action {
    color: #515150;
    padding: 10px;
    font-size: 13px;
}
.page-projects .project-action-title {
    font-size: 16px;
}
.page-projects .project-delete {
    background-color: #f44336;
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 0;
    height: 35px;
    width: 35px;
    cursor: pointer;

    display: none;
    justify-content: center;
    align-items: center;
}
.page-projects .component-project:hover .project-delete {
    display: flex;
}

.page-projects .project-popover-title {
    margin: 0 0 20px;
    color: #33b5e5;
    padding-bottom: 5px;
    border-bottom: 2px solid #33b5e5;
    font-size: 16px;
}
.page-projects #form-project-new input,
.page-projects #form-project-new textarea {
    outline: none;
    display: block;
    width: 100%;
    border: 1px solid #d9d9d9;
    margin: 5px 0;
    padding: 10px 15px;
    font-size: 15px;
    background-color: #fff;
    color: #000;
}
.page-projects #form-project-new input:focus,
.page-projects #form-project-new textarea:focus {
    border: 1px solid #33b5e5;
    color: #333;
}

.page-projects .project-popover-new-footer {
    display: flex;
    justify-content: space-between;
}
.page-projects .project-popover-button {
    width: 100%;
    border: 0;
    padding: 10px 15px;
    color: #fff;
    background-color: #33b5e5;
}
.page-projects .project-popover-button.button-project-cancel {
    background-color: #b6bece;
    margin-right: 10px;
}

/*//////////////////////////////// PAGE PHOTOS FOLDER ////////////////////////////////*/

.page-photos-folder #photos-list.photos-list-loading {
    /*image de chargement*/
}

.page-photos-folder .component-folder {
    padding: 10px;
    box-shadow: 0 0 3px #0000004d;
    margin-bottom: 15px;
    background-color: #fff;
}

.page-photos-folder .folder-inner {
    padding-left: 10px;
}

.page-photos-folder .folder-title {
    font-size: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #cacaca;

    display: flex;
    justify-content: space-between;
}
.page-photos-folder .folder-description {
    color: #7d7d7d;
    font-size: 14px;
    margin: 5px 0;
}

.page-photos-folder .photos-container {
    display: flex;
    flex-wrap: wrap;
}

.page-photos-folder .component-photo {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    /* margin: 5px; */
    margin-bottom: 5px;
    margin-right: 5px;
}
.page-photos-folder .component-photo:first-child {
    margin-left: 0;
}
.page-photos-folder .component-photo img {
    display: block;
}

.page-photos-folder .photo-panel {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    justify-content: space-around;
    align-items: center;
}
.page-photos-folder .component-photo:hover .photo-panel {
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
}



.page-photos-folder .photo-action {
    border: 0;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
}
.page-photos-folder .photo-action[data-state="validate"] {
    background-image: url(../img/task-complete.png);
    height: 17px;
    width: 28px;
}
.page-photos-folder .photo-action[data-state="delete"] {
    background-image: url(../img/task-delete.png);
    height: 14px;
    width: 14px;
}


.page-photos-folder .component-folder.component-folder-loading {
    /*image de chargement*/
}



/*//////////////////////////////// PAGE DASHBOARD : CATEGORIES/TASKS LISTS ////////////////////////////////*/

.page-dashboard .page-title {
    color: #000;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    font-weight: 300;
    font-size: 25px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page-dashboard .page-title .project-admin {
    font-size: 13px;
    margin-right: 40px;
}

.page-dashboard .page-title-onside {
    display: flex;
    align-items: center;
}

.page-dashboard .dashboard-search-dropdown {
    font-size: 14px;
    width: 200px;
    /* box-shadow: 0 0 3px rgba(0,0,0,0.3); */
}

/* liste des categories */

.page-dashboard #categories-list {
    width: 100%;
    min-height: 200px;

    display: flex;
    flex-direction: row;
}
.page-dashboard #categories-list.categories-list-loading {
    /*image de chargement*/
}

/* liste d'un catégorie ( colonne ) */

.page-dashboard .component-category  {
    width: 100%;
    margin: 10px;
    max-width: 40%;
}

.page-dashboard .category-header {
    background-color: #41aeed;
    color: #fff;
    font-size: 16px;
    padding: 6px;
    margin-bottom: 15px;

    /* position: relative; */
    position: -webkit-sticky;
    position: sticky;
    top: 61px; /* menu 56px */

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page-dashboard .category-tasks-addbutton-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-dashboard .button-task-create-oncategory {
    background: #fff url(../img/icon-plus.png) no-repeat center center;
    padding: 20px;
    border: 0;
    cursor: pointer;
}



/* dropdown category */

.page-dashboard .category-dropdown .category-menu-item {
    display: flex;
    align-items: center;
    border: 0;
    padding: 0 30px 0 10px;
    min-height: 40px;
    background-color: #fff;
    width: 100%;
    font-size: 14px;
    font-weight: 300;
    line-height: 14px;
    color: #000;
    cursor: pointer;
}
.page-dashboard .category-dropdown .category-menu-item:hover {
    background-color: #4ebbf0;
    color: #fff;
}

.page-dashboard .category-menu {
    background: url(../img/category-menu.png) no-repeat center center;
    /* height: 16px;
    width: 5px; */
    padding: 10px 15px;
    cursor: pointer;
}

.page-dashboard .category-menu-panel {
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    right: 0;/*fix sticky TODO*/
}

/* créé une catégorie */

.page-dashboard .component-category-popover {
    top: 130px;
}
.page-dashboard .component-category-popover-edit {
    top: 105%;
    left: 0;
}

.page-dashboard .button-category-create-popover {
    font-size: 14px;
    font-weight: 300;
    background-color: #fff;
    border: 0;
    padding: 0 30px 0 10px;
    min-height: 30px;

    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
}
.page-dashboard .button-category-create-popover:hover {
    background-color: #4ebbf0;
    color: #fff;
}


.page-dashboard .category-popover-title {
    margin: 0 0 20px;
    color: #33b5e5;
    padding-bottom: 5px;
    border-bottom: 2px solid #33b5e5;
    font-size: 16px;
}
.page-dashboard .category-popover-form input,
.page-dashboard .category-popover-form textarea {
    outline: none;
    display: block;
    width: 100%;
    border: 1px solid #d9d9d9;
    margin: 5px 0;
    padding: 10px 15px;
    font-size: 15px;
    background-color: #fff;
    color: #000;
}
.page-dashboard .category-popover-form input:focus,
.page-dashboard .category-popover-form textarea:focus {
    border: 1px solid #33b5e5;
    color: #333;
}
.page-dashboard .category-popover-button {
    display: block;
    cursor: pointer;
    width: 100%;
    border: 0;
    padding: 10px 15px;
    color: #fff;
    background-color: #33b5e5;
}
.page-dashboard .category-popover-button.button-category-cancel {
    background-color: #b6bece;
    margin-right: 10px;
}



.page-dashboard .category-popover-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* task indépendante */

.page-dashboard .component-task {
    padding: 10px;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    margin-bottom: 15px;
    background-color: #fff;
}

.page-dashboard .task-title {
    font-size: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #cacaca;
}
.page-dashboard .task-description {
    color: #7d7d7d;
    font-size: 14px;
    margin: 5px 0;
}

.page-dashboard .task-footer {
    display: flex;
    justify-content: space-between;
}
.page-dashboard .task-dropdown {
    color: #7d7d7d;
    font-size: 14px;
    background: url(../img/arrow-drop.png) no-repeat 100% center;
    padding-right: 25px;
    width: auto;
}
.page-dashboard .check-expanded:checked ~ .task-footer .task-dropdown {
    background-image: url(../img/arrow-drop2.png);
}

.page-dashboard .task-separator {
    height: 1px;
    width: 100%;
    background-color: #cacaca;
}

.page-dashboard .task-photos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.page-dashboard .task-photo {
    margin: 5px;
    overflow: hidden;
    border-radius: 5px;
}

.page-dashboard .task-details-block {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.page-dashboard .task-details {
    color: #7d7d7d;
    font-size: 13px;
    font-style: italic;
}

.page-dashboard .task-actions {
    display: flex;
    justify-content: flex-end;
    width: 50px;
}
.page-dashboard .task-actions .button-task-delete {
    margin-left: 8px;
}

.page-dashboard .button-task-delete,
.page-dashboard .button-task-complete {
    border: 0;
    display: block;
    cursor: pointer;
    background-position: center center;
    background-color: transparent;
}
.page-dashboard .button-task-delete {
    background-image: url(../img/task-delete.png);
    height: 14px;
    width: 14px;
}
.page-dashboard .button-task-complete {
    background-image: url(../img/task-complete.png);
    height: 17px;
    width: 28px;
}


/* task mode edit */

.page-dashboard #categories-list .component-category .component-task[data-state="edit"] {
    border-color: yellow;
}

/* expiration classes */
.page-photos-folder .folder-inner,
.page-dashboard .task-inner {
    border-left: 4px solid #000;
    padding-left: 10px;
}
.page-photos-folder .folder-inner.expire-completed,
.page-dashboard .task-inner.expire-completed {
    border-left-color: #4ebbf0
}
.page-photos-folder .folder-inner.expire-expired,
.page-dashboard .task-inner.expire-expired {
    border-left-color: #c22626;
}
.page-photos-folder .folder-inner.expire-15days,
.page-dashboard .task-inner.expire-15days {
    border-left-color: #add139;
}
.page-photos-folder .folder-inner.expire-10days,
.page-dashboard .task-inner.expire-10days {
    border-left-color: #ffb400;
}
.page-photos-folder .folder-inner.expire-5days,
.page-dashboard .task-inner.expire-5days {
    border-left-color: #ee602e;
}
.page-photos-folder .folder-inner.expire-2days,
.page-dashboard .task-inner.expire-2days {
    border-left-color: #db484f;
}


/* create modal */

.page-dashboard .form-task-create {
    padding: 20px;
    padding-top: 0;
}
.page-dashboard .task-create-title {
    margin: 0 0 20px;
    color: #33b5e5;
    padding-bottom: 5px;
    border-bottom: 2px solid #33b5e5;
    font-size: 16px;
}

.page-dashboard .form-task-create input[type="text"],
.page-dashboard .form-task-create textarea {
    outline: none;
    display: block;
    width: 100%;
    border: 1px solid #d9d9d9;
    margin: 5px 0;
    padding: 10px 15px;
    font-size: 15px;
    background-color: #fff;
    color: #000;
}
.page-dashboard .form-task-create input[type="text"]:focus,
.page-dashboard .form-task-create textarea:focus {
    border: 1px solid #33b5e5;
    color: #333;
}


.page-dashboard .task-create-label-button {
    font-size: 14px;
    font-weight: 300;
    background-color: #4ebbf0;
    color: #fff;
    border: 0;
    padding: 0 30px 0 10px;
    min-height: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 5px;
}
.page-dashboard .newtask-field-assigned-to {
    margin-bottom: 5px;
    width: 100%;
    font-size: 14px;
    font-weight: 300;
}
.page-dashboard .module-datetimepicker-container {
    position: absolute;
    z-index: 9;
}
.page-dashboard #new-task-progress {
    margin-top: 15px;
}


#newtask-showhide-datetimepicker[type=checkbox]:checked + .module-datetimepicker-container,
.module-datetimepicker-container.is-visible {
    display: block;
}


/* modal task */

.modal-popup-container.cd-popup-container {
    background-color: transparent;
    box-shadow: none;
}
.modal-popup-container.cd-popup-container .cd-popup-close::before,
.modal-popup-container.cd-popup-container .cd-popup-close::after {
    background-color: #ccc;
}


/*//////////////////////////////// PAGE SITEMAP ////////////////////////////////*/

.page-sitemap .sitemap-list {
    padding-left: 10px;
    font-weight: 300;
}
.page-sitemap .sitemap-item {
    padding: 5px 0;
}
.page-sitemap .sitemap-item a {
    color: #89C13E;
}



/* //////////////////// custom elements ///////////////////// */

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #89C13E;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 10px auto;
    animation: loader-spin 2s linear infinite;
}
.loader.loader-page {
    border-top-color: #202020;
}
@keyframes loader-spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* //////////////////// buttons ///////////////////// */

.button {
    display: block;
    width: 100%;
    padding: 10px 24px;
    border-radius: 2px;
    background-color: #89C13E;
    color: #fff;
    text-align: center;
    border: 0;
    outline: none;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    box-shadow: 0 1px 3px 0 #0003, 0 1px 2px 0 #0000001a;
}

/* //////////////////// snackbar, notification at bottom ///////////////////// */

#snackbar {
    display: none;
    min-width: 250px;
    margin-left: -125px;

    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 9;
    left: 50%;
    bottom: 30px;

    font-size: 17px;
    font-weight: 300;
}
#snackbar.is-visible {
    display: block;
    animation: snackbar-fadein 0.5s, snackbar-fadeout 0.5s 2.5s;
}

@keyframes snackbar-fadein {
    from { bottom: 0; opacity: 0; }
    to { bottom: 30px; opacity: 1; }
}
@keyframes snackbar-fadeout {
    from { bottom: 30px; opacity: 1; }
    to { bottom: 0; opacity: 0; }
}

/* //////////////////// api error modal ///////////////////// */

#api-error {
    background-color: #181818;
    color: #fff;
    width: 100%;
    padding: 20px;
    font-size: 20px;
    text-align: center;

    overflow: hidden;
    display: none;

    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    opacity: 0.9;
    padding-top: 150px;
    z-index: 9999;
}
#api-error > .status,
#api-error > .stack {
    font-weight: normal;
    font-size: 16px;
    color: #888;
    padding: 5px 0;
    display: inline-block;
}
#api-error > .status {
    margin-top: 20px;
}
#api-error > .stack {
    display: none;
}

#api-error.is-visible,
#api-error .is-visible {
    display: block;
    animation: api-error-zoomIn 0.3s;
}

@keyframes api-error-zoomIn {
    from { opacity: 0; transform: scale3d(.3, .3, .3); }
    50% { opacity: 1; }
}




/* //////////////////// dropdown ///////////////////// */

.dropdown {
    display: flex;
    flex-direction: column;
    position: relative;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.dropdown .dropdown-check {
    display: none;
}
/* .dropdown .dropdown-check:checked ~ .dropdown-menu {
    display: block;
} */
.dropdown:focus .dropdown-menu {
    display: block;
}

.dropdown .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    /* width: 100%; */
    z-index: 1;
}
.dropdown .dropdown-menu .option {
    display: flex;
    align-items: center;
    cursor: pointer;
    min-height: 40px;
    white-space: nowrap;
    background: #fff;
    padding: 0 30px 0 10px;
}

.page-login{
	
	color:red;
}
/* //////////////////// select ///////////////////// */

.select {
    display:flex;
    flex-direction: column;
    position:relative;
    width: 250px;
    height: 30px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.select .option {
    background-color: #fff;
    cursor: pointer;

    padding:0 30px 0 10px;
    min-height: 30px;
    display:flex;
    align-items:center;

    position:absolute;
    top:0;
    width: 100%;
    pointer-events:none;
    order:2;
    z-index:1;

    box-sizing:border-box;
    overflow:hidden;
    white-space:nowrap;
}

.select .option:hover {
    background-color: #4ebbf0;
    color: #fff;
}

.select:focus .option {
    position:relative;
    pointer-events:all;
}

.select input {
    opacity:0;
    position:absolute;
    left:-99999px;
}

.select input:checked + label {
    background:#fff;

    order: 1;
    z-index:2;
    border-top:none;
    position:relative;
}

.select input:checked + label:after {
    content:'';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #666;
    position:absolute;
    right:10px;
    top:calc(50% - 2.5px);
    pointer-events:none;
    z-index:3;
    margin-bottom: 5px;
}

.select input:checked + label:before {
    position:absolute;
    right:0;
    height: 40px;
    width: 40px;
    content: '';
}

/* //////////////////// popup modal ///////////////////// */

.cd-popup {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(94, 110, 141, 0.9);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;

    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    z-index: 9;

    margin-top: 56px;/*menu*/
    height: calc(100% - 56px);/*menu*/
}
.cd-popup.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s;
}
.cd-popup-container {
    position: relative;
    /* overflow: hidden; */
    width: 90%;
    max-width: 400px;
    /* margin: 8em auto; */
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px);

    /* Force Hardware Acceleration */
    backface-visibility: hidden;
    transition-property: transform;
    transition-duration: 0.3s;

    margin-top: 56px;/*menu*/
}
.cd-popup-container p {
    padding: 3em 1em;
}

.cd-popup-container .cd-buttons {
    display: flex;
    flex-direction: row;
}
.cd-popup-container .cd-buttons .cd-button {
    display: block;
    border: 0;
    cursor: pointer;
    width: 100%;

    height: 50px;
    font-size: 16px;
    text-transform: uppercase;
    color: #FFF;

    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
}
.cd-popup-container .cd-buttons .cd-button.cd-button-confirm {
    background: #4ebbf0;
}
.cd-popup-container .cd-buttons .cd-button.cd-button-quit {
    background: #b6bece;
}


.cd-popup-container .cd-popup-header {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;/*30+8*2*/
}
.cd-popup-container .cd-popup-close {
    position: absolute;
    top: 0;/*8px*/
    right: 0;/*8px*/
    width: 30px;
    height: 30px;

    /*text replace*/
    display: inline-block;
    overflow: hidden;
    text-indent: 100%;
    color: transparent;
    white-space: nowrap;
}
.cd-popup-container .cd-popup-close::before,
.cd-popup-container .cd-popup-close::after {
    content: '';
    position: absolute;
    top: 12px;
    width: 14px;
    height: 3px;
    background-color: #8f9cb5;
}
.cd-popup-container .cd-popup-close::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 8px;
}
.cd-popup-container .cd-popup-close::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 8px;
}

.is-visible .cd-popup-container {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

/* //////////////////// progress bar ///////////////////// */

.progress-bar {
    display: none;
    width: 100%;

    background-color: #ddd;
    text-align: center;
    height: 20px;
    line-height: 20px;
}
.progress-bar.is-visible {
    display: block;
}

.progress-bar .percentage {
    background-color: #89C13E;
    color: #fff;
}


/* //////////////////// popoves categories ///////////////////// */

.ha-popover {
    position: absolute;
    z-index: 9;
    height: auto;
    display: none;
    border-radius: 2px;
    opacity: 0;
    max-width: 530px;
    border: 1px solid #C7C7C7;
    background: #FFF;
    outline: none;
    font-size: 14px;
    box-shadow: 0 3px 0 0 #42424233;
    padding: 15px 15px 20px;

    max-width: 530px;
}
.ha-popover .connector {
    width: 10px;
    height: 10px;
    margin: 0;
    border-style: solid;
    border-width: 1px 0 0 1px;
    border-color: #C7C7C7 transparent transparent #C7C7C7;
    background: inherit;
    position: absolute;

    top: -6px;
    left: 16px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.ha-popover.is-visible {
    display: block;
    opacity: 1;
}

.ha-popover .ha-footer {
    display: flex;
    justify-content: space-between;

}


/* rome */

.rd-time-list {
    z-index: 9;
}


/* CSS login */

.btn_login{
	background-color: #89C13E;
	border: solid 0px;
	color:white;
    padding: 10px;
	/*width: 100%;*/
}

.label_input{
	color:white;
	
}

hr{
	color:white;
	border: solid 1px;
    margin-bottom: 27px;
}

.h1_login{
	color: white;
	margin-bottom: 2px;
	font-family: 'Open Sans Light', sans-serif;
}

/*body{
	background-color: black;  /***** Juste pour voir ****
}*/

.fill_main_green {
    background-color: #89C13E;
}

.text_main_green {
    color: #89C13E;
}


.wrapper {
    max-width: 70em;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between
  }

.profil_picture  img{
      width: 100%;
      height: auto;
  }

  .wrapper > div {
    box-sizing: border-box;
    margin: 0.2em;
    flex: 1 1 20em;
  }

  .joined {
    color: #7d7d7d;
    font-size: 12px;
    font-style: italic;
}

/* PROJECT CARDS PROFIL */

.profil_project_wrap {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
  }
  @media (min-width: 30em) {
    .profil_project_wrap {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media (min-width: 60em) {
    .profil_project_wrap {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  .project_card {
    background: white;
    text-decoration: none;
    color: #444;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 100%;
    position: relative;
    top: 0;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
  }
  .project_card:hover {
    top: -2px;
    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  }
  .project_card article {
    padding: 20px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .project_card h1 {
    font-size: 20px;
    margin: 0;
    color: #333;
  }
  .project_card p {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    line-height: 1.4;
  }
  .project_card span {
    font-size: 12px;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
    letter-spacing: .05em;
    margin: 2em 0 0 0;
  }
  .project_card .thumb {
    padding-bottom: 60%;
    height:auto;
    background-size: cover;
    background-position: center center;
  }
  

  /* PROFIL CARD + UPDATE PROFIL FORM
 

  /*- Card container -*/
  .card-container {
    position: relative;
    z-index: 1;
    margin: 32px auto;
    max-width: 720px;
    height: 420px;
    -webkit-perspective: 1000px;
            perspective: 1000px;
  }
  
  img {
    max-width: 100%;
    max-height: 100%;
  }
  
  /*- Card body -*/
  .card-body {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transition: all .7s linear;
    transition: all .7s linear;
  }
  
  /*- Flipping the card -*/
  .card-container:hover .card-body {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  
  .card-container:hover > .card-body > .side-front {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 1s ease-in, visibility .75s linear;
    transition: opacity 1s ease-in, visibility .75s linear;
  }
  
  /*- Card sides -*/
  .card-side {
    position: absolute;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    color: #212121;
    background-color: #fff;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-box-shadow: 0 10px 35px rgba(50, 93, 59, 0.1), 0 2px 15px rgba(0, 0, 0, 0.07);
            box-shadow: 0 10px 35px rgba(50, 90, 53, 0.1), 0 2px 15px rgba(0, 0, 0, 0.07);
  }
  
  /*- Front side -*/
  .side-front [class^=col-xs]:first-of-type {
    padding-left: 0;
  }
  
  .side-front-content {
    padding-top: 32px;
    padding-right: 32px;
    padding-bottom: 32px;
  }
  
  /*- Back side -*/
  .side-back {
    z-index: 2;
    padding: 32px;
    text-align: center;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  
  /*- Form -*/
  .card-form {
    margin-top: 32px;
  }
  
  .card-form .row + .row,
  .card-form .row + fieldset,
  .card-form fieldset + fieldset {
    margin-top: 16px;
  }
  
  input,
  textarea {
    padding: 8px;
    width: 100%;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #eee;
    border-left: 0;
  }
  input:focus,
  textarea:focus {
    outline: 0;
    border-bottom: 1px solid #8cc63f;
  }
  
  textarea {
    max-height: 80px;
    resize: vertical;
  }
  
  .btn-primary {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #8cc63f;
    border: none;
    -webkit-box-shadow: 0 10px 35px rgba(50, 90, 53, 0.1), 0 2px 15px rgba(0, 0, 0, 0.07);
            box-shadow: 0 10px 35px rgba(50, 90, 53, 0.1), 0 2px 15px rgba(0, 0, 0, 0.07);
    -webkit-transition: background-color .25s ease-in, -webkit-box-shadow .25s ease-in;
    transition: background-color .25s ease-in, -webkit-box-shadow .25s ease-in;
    transition: background-color .25s ease-in, box-shadow .25s ease-in;
    transition: background-color .25s ease-in, box-shadow .25s ease-in, -webkit-box-shadow .25s ease-in;
  }
  .btn-primary:focus, .btn-primary:hover {
    background-color: #658f2f;
    -webkit-box-shadow: 0 18px 35px rgba(50, 93, 56, 0.1), 0 8px 15px rgba(0, 0, 0, 0.07);
            box-shadow: 0 18px 35px rgba(50, 93, 56, 0.1), 0 8px 15px rgba(0, 0, 0, 0.07);
  }
  
  /* PROFIL PAGE */
  html,body {
    background: #efefef;
    font-family: "Arial";
  }
  
  .container {
    max-width: 1250px;
    margin: 30px auto 30px;
    padding: 0 !important;
    width: 90%;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.10);
  }
  
  .profil-header {
    background: #eee;
    background-image: url(../img/profil-header.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: red;
    height: 250px;
  }
  
  .profil-header i {
    position: relative;
    cursor: pointer;
    right: -96%;
    top: 25px;
    font-size: 18px !important;
    color: #fff;
  }
  
  @media (max-width:800px) {
    .profil-header {
      height: 150px;
    } 
    
    .profil-header i {
      right: -90%;
    }
  }
  
 
  
  .left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .photo {
    width: 200px;
    height: 200px;
    margin-top: -120px;
    border-radius: 100px;
    border: 4px solid #fff;
  }
  
  .active {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    position: absolute;
    right: calc(50% - 70px);
    top: 75px;
    background-color: #FFC107;
    border: 3px solid #fff;
  }
  
  @media (max-width:990px) {
    .active {
      right: calc(50% - 60px);
      top: 50px;
    } 
  }
  
  .name {
    margin-top: 20px;
    margin-bottom:10px;
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 18pt;
    color: #777;
  }
  
  .info {
    margin-top: -5px;
    margin-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11pt;
    color: #aaa;
  }
  
  .stats {
    margin-top: 25px;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #ededed;
    font-family: 'Montserrat', sans-serif;
  }
  
  
  .number-stat {
    padding: 0px;
    font-size: 14pt;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: #aaa;
  }
  
  .desc-stat {
    margin-top: -15px;
    font-size: 10pt;
    color: #bbb;
  }
  
  .desc {
    text-align: center;
    margin-top: 25px;
    margin: 25px 40px;
    color: #999;
    font-size: 11pt;
    font-family: "Open Sans";
    padding-bottom: 25px;
    border-bottom: 1px solid #ededed;
  }
  
  .social {
    margin: 5px 0 12px 0;
    text-align: center;
    display: inline-block;
    font-size: 20pt;
  }
  
  .social i {
    cursor: pointer;
    margin: 0 15px;
  }
  
  .social i:nth-child(1)  { color: #4267b2; }
  .social i:nth-child(2)  { color: #1da1f2; }
  .social i:nth-child(3)  { color: #bd081c; }
  .social i:nth-child(4)  { color: #36465d; }
  
  .right {
    padding: 0 25px 0 25px !important;
  }
  
  .nav {
    display: inline-flex;
  }
  
  .nav li {
    margin: 40px 30px 0 10px;
    cursor: pointer;
    font-size: 13pt;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #888;
  }
  
  .nav li:hover, .nav li:nth-child(1)  { 
    color: #999;
    border-bottom: 2px solid #999;
  }
  
  .follow {
    position: absolute;
    right: 8%;
    top: 35px;
    font-size: 11pt;
    background-color: #42b1fa;
    color: #fff;
    padding: 8px 15px;
    cursor: pointer;
    transition: all .4s;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
  }
  
  .follow:hover {
    box-shadow: 0 0 15px rgba(0,0,0,0.2), 0 0 15px rgba(0,0,0,0.2);
  }
  
  @media (max-width:990px) {
    .nav {
      display: none;
    }
    
    .follow {
      width: 50%;
      margin-left: 25%;
      display: block;
      position: unset;
      text-align: center;
    }
  }
  .gallery  {
    margin-top: 35px;
  }
  
  .gallery div {
    margin-bottom: 30px;
  }
  
  .gallery img {
    box-shadow: 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.10);
    width: auto; 
    height: auto;
    cursor: pointer;
    max-width: 100%;
  }

.p_style_contact{
	    padding: 15px;
	text-align: center;
	color: white;
    margin-bottom: 22px;
}
